.title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  color: #42446e;
  cursor: default;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  margin-top: 10px;
  cursor: default;
}
