/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import url("https://fonts.googleapis.com/css?family=Poppins");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 70px;
  margin: 0;
  font-family: "Poppins";
}
